body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
    width: calc(100%-40px);
    height: 100vh;
    margin: 20px 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    text-align: center;  
  }

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }

#top-logo{
    width: 500px;
    height: 200px;
}

#top-button{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 9px 34px;
    letter-spacing: 0.8px;
    margin-top: 20px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;

}

#top-items-container{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}

#top-items-container span{
    padding: 0 5px;

}

main{
    margin-top: -100px;
    display: flex;
}
#main-left-section{
    text-align: left;
    margin-left: 100px;
    width: 45%;
    margin-top: 20px;
}

#btn1{
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: lightpink;
    padding: 15px 20px;
    color: rgb(44, 43, 124);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;  
    margin-top: 0; 
}

#main-left-section h1{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#main-left-section p{
    color: grey;
    margin-top: 0;
}

#btn2{
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(44, 43, 124);
    padding: 15px 25px;
    color:white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px; 
}

#landing-image{
    width: 800px;
    height: 500px;
}

#main-bottom-section{
    margin-top:20px;
    display: flex;

}

#left-arrow{
    color: blue;
    font-size: 30px;
    margin-top: 30px;
}

#right-arrow{
    font-size: 30px;
    margin-top: 30px;
    margin-left:10px;
}

#main-span{
    margin-left: 80px;
    margin-top: 10px;
}


#span1{
    color:grey;
    font-size:14px;
}

#span2{
    font-size:14px;
}
